---
export const prerender = true;
const pageTitle = 'About this page';
const exampleArr = ['arr value 1', 'arr value 2', 'arr value 3', 'arr value 4', 'arr value 5'];
const exampleObj = {
    firstKey: 'value 1',
    secondKey: 'value 2',
    thirdKey: 'value 3',
    fourthKey: 'value 4',
    fifthKey: 'value 5',
};
const exampleObjArr = [];
Object.keys(exampleObj).forEach((key, index) => exampleObjArr.push(exampleObj[key]))

let conditionalRender = true;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body class="bg-slate-100">
		<div class="container mx-auto">
            <nav class="px-4 bg-slate-800 h-14 my-2 rounded-3xl flex items-center justify-between">
                <a href="/" class="flex justify-center items-center gap-3">
                    <img src="svg/waving-hand.svg" class="w-10" alt="">
                    <div class="text-fuchsia-50 text-2xl">Hello Astro</div>
                </a>
                <ul class="flex items-center text-slate-100 gap-5 text-xl [&>*:hover]:text-slate-400">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
              </nav>
			<div class="flex justify-center items-center flex-col text-gray-800">
				<h1 class="text-3xl font-bold">{pageTitle}</h1>
				<h2 class="text-2xl mb-10">this is just a page where i test some things with astro</h2>
				<h2 class="text-xl">rendered js array values with html</h2>
				<h2 class="text-md mb-3">const exampleArr = ['arr value 1', 'arr value 2', 'arr value 3', 'arr value 4', 'arr value 5'];</h2>
                <ul class="list-disc mb-10">
                    {exampleArr.map((key) => <li>{key}</li>)}
                </ul>
                <h2 class="text-xl">rendered js object values with html</h2>
				<h2 class="text-md mb-3">const exampleObj = {JSON.stringify(exampleObj)}</h2>
                <ul class="list-disc mb-10">
                    {exampleObjArr.map((key) => <li>{key}</li>)}
                </ul>
                <h2 class="text-xl">conditional rendered elements</h2>
				<h2 class="text-md mb-3"></h2>
                <ul class="list-disc">
                    {conditionalRender && <p class="mb-6">this element will be visible if conditionalRender is true</p>}
                    {conditionalRender ? <p class="mb-2 text-red-400">this text will be red if conditionalRender is true</p> : <p class="mb-2 text-green-600">or green if conditionalRender is false</p>}
                    
                </ul>
			</div>
		</div>
	</body>
</html>