---
import SocialButton from "./SocialButton.astro";

const userName = 'liv3rise';
const repoName = 'astro-test';
const repoUrl = `https://github.com/${userName}/${repoName}`;
const userUrl = `https://github.com/${userName}`;
---

<footer class="p-5 flex flex-col justify-center items-center rounded-3xl mt-4 text-center text-slate-700 dark:text-fuchsia-50">
    <div class="text-md ">Astro sandbox for testing different things.</div>
    <div class="text-md ">You can find the source code for this mess <a class="underline hover:text-slate-500" href={repoUrl}>on my GitHub.</a></div>
    <div class="text-sm  mb-5">But who cares ¯\_(ツ)_/¯</div>

    <div class="flex gap-1">
        <SocialButton iconName="mdi:github" url={userUrl} targetBlank={true} />
        <SocialButton iconName="mdi:discord" url="#" />
        <SocialButton iconName="mdi:telegram" url="#" />
    </div>
</footer>