---
import MainLayout from "./MainLayout.astro";

import Tag from "../components/Tag.astro";

const { frontmatter } = Astro.props;
---

<MainLayout>
  <div class="prose dark:prose-invert break-words max-w-full">
    <div class="flex gap-5 mb-10">
      <div class="w-1 bg-slate-600"></div>
      <div>
        <h1 class="mb-2">{frontmatter.title}</h1>
        <p class="m-0">Published on: {frontmatter.pubDate.slice(0, 10)}</p>
        <p class="m-0">Author: {frontmatter.author}</p>
        <p class="mb-3 mt-0">{frontmatter.description}</p>
        <div class="flex gap-2">
          {frontmatter.tags.map((tag) => <Tag tag={tag} url={`${Astro.url.origin}/tags/${tag}`} />)}
        </div>
      </div>
    </div>
    <slot />
  </div>
</MainLayout>
